# 통계 기반 데이터 요약하기 
- 방대한 데이터를 한 눈에 파악하는 것은 불가능 > 먼저 데이터의 전반적인 형태를 요약
- 정보 미리 파악하여 추후 분석 방향 판단 가능 

## 먼저 요약할 데이터 형태
1. 대표값 : 평균, 중앙값, 최댓값, 최솟값
2. 빈도 분포(범주형)
3. 분산, 표준편차(수치형)
4. 결측치, 이상치의 존재 여부

In [39]:
import pandas as pd 

data= {'키' : [155,167,175],
      '몸무게' : [43,56,57]} 


df = pd.DataFrame(data)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   키       3 non-null      int64
 1   몸무게     3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [41]:
# (1) 대표값
df.mean() # 전체에 대하여 평균 
df["키"].mean() # 평균

df.median()

df.mode()

     키  몸무게
0  155   43
1  167   56
2  175   57

In [42]:
df.std()

df.max()

키      175
몸무게     57
dtype: int64

In [43]:
print(df.quantile(0.25)) # 1분위수
print(df.quantile(0.75)) # 3분위수

키      161.0
몸무게     49.5
Name: 0.25, dtype: float64
키      171.0
몸무게     56.5
Name: 0.75, dtype: float64

In [44]:
df.sum() 
df.cumsum() #누적합

     키  몸무게
0  155   43
1  322   99
2  497  156

In [50]:
df = pd.read_csv('data/seoul_population.csv')
df.head()

,동별,10대 미만,10대,20대,30대,40대,50대,60대,70대,80대,90대 이상,총인구수
0,종로구,6559,10735,27787,21014,20982,25061,20952,11556,6600,966,152212
1,중구,6313,6909,21404,22120,18283,20648,18898,10432,5504,879,131390
2,용산구,12886,15451,33676,41419,35389,37195,30318,15744,8987,1417,232482
3,성동구,17968,18917,45156,46557,42643,45743,38809,20199,9980,1268,287240
4,광진구,16678,25060,66308,56979,50188,54710,46016,22985,10650,1351,350925

In [ ]:
df.describe()

In [47]:
df.describe(include='object')

         동별
count    25
unique   25
top     종로구
freq      1

## 데이터 그룹화 : groupby()

    df.groupby("그룹화 기준 컬럼")["집계기준컬럼"].집계합수

In [49]:
df.groupby("동별")["10대"].sum()

동별
강남구     60648
강동구     39306
강북구     20072
강서구     42989
관악구     26935
광진구     25060
구로구     29399
금천구     13774
노원구     49251
도봉구     23320
동대문구    23627
동작구     27047
마포구     27785
서대문구    23338
서초구     44949
성동구     18917
성북구     36931
송파구     58265
양천구     48378
영등포구    24286
용산구     15451
은평구     36258
종로구     10735
중구       6909
중랑구     24947
Name: 10대, dtype: int64