# 데이터 정제 및 전처리

# pandas 
- 데이터를 조작 및 분석 등 다루기 위한 파이썬의 라이브러리 
- 시리즈(Series)와 데이터프레임(DataFrame)이라는 데이터 구조 제공(데이터 분석에 유용)

In [3]:
# 터미널에 pip install pandas 라이브러리 설치 
# pip install tabulate[widechars] # 데이터 확인할때 깔끔하게 보이게하는 라이브러리 

# 라이브러리 불러오기 (as 를 통해 pd 라는 별칭으로 사용)
import pandas as pd

## 1. 데이터 생성

In [4]:
# (1) 딕셔너리로 생성
# key 컬럼 value 해당 컬럼의 값 
data1 = {
    '이름' : ['철수','영희','민수'],
    '나이' : [25,30,22],
    '도시' : ['서울','부산','대구']
}

In [3]:
# (2) 중첩 리스트(2차원 리스트) 생성

data2 = [
    ['철수',25,'서울'],
    ['영희',30,'부산'],
    ['민수',22,'대구']
]

# 컬럼명 별도 지정 
df2 = pd.DataFrame(data2, columns=['이름','나이','도시'])
print((df2))

NameError: name 'pd' is not defined

In [6]:
# (3) 외부 데이터 

df3 = pd.read_csv('data/seoul_park.csv') # .csv파일

# df3 = pd.read_excel('data/seoul_park.xlsx') # .xlsx파일 

print(df3)

              날짜 공휴일     날씨   유료합계     어른  청소년  어린이  외국인   단체   무료합계     총계
0     2016-01-01   O  구름 조금  3,359  2,799  141  419   47    0  1,023  4,382
1     2016-01-02   O  구름 많음  5,173  4,370  203  600  100  111  2,092  7,265
2     2016-01-03   O  구름 많음  3,008  2,571  128  309   91    0  1,549  4,557
3     2016-01-04   X  구름 많음    890    602  NaN  235   51  223    800  1,690
4     2016-01-05   X  구름 많음    416    319   35   62   43   47    840  1,256
...          ...  ..    ...    ...    ...  ...  ...  ...  ...    ...    ...
1081  2019-03-27   X  구름 많음    504    464   10   30   21    -    613  1,117
1082  2019-03-28   X  구름 많음    761    687   46   28   35  108    904  1,665
1083  2019-03-29   X  구름 조금  1,644  1,447  120   77   14  188  1,226  2,870
1084  2019-03-30   O     흐림  1,539  1,326   44  169   29  115    913  2,452
1085  2019-03-31   O  구름 조금  3,061  2,563  111  387   53    -  1,357  4,418

[1086 rows x 11 columns]

## 2. 데이터 확인하기

In [7]:
# 일부분 확인하기 : head(), tail()

df2.head()
df2.tail()

   이름  나이  도시
0  철수  25  서울
1  영희  30  부산
2  민수  22  대구

In [9]:
# 데이터 정보 확인하기 : info()
# 인덱스 개수, 범위
# 컬럼의 개수, 컬럼이름
# 각 컬럼의 데이터 수, 데이터 타입 확인 가능 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   도시      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [2]:
# 데이터 확인 속성 

print(df2.shape) # 행과 열의 개수를 투플 형태로 출력 
print(df2.columns) # 컬럼 이름
print(df2.dtypes) # 컬럼의 데이터 타입 정보

NameError: name 'df2' is not defined

## 3. 데이터 추출하기 
- 데이터프레임에서 컬럼 이름으로 해당 컬럼을 시리즈 형태로 추출 가능

df["컬럼명"]

In [ ]:
df2["어른"]

df2[["어른","외국인"]] #2개의 열을 가진 테이블 추출

In [ ]:
# 특정 컬럼 개수 세기
# 범주형 데이터에 대하여 각 고유 값이 몇개씩 저장되는지 파악 
df2["날씨"].value_counts()